body
{
    background-color: rgb(167, 96, 96);
}
h1
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
h2
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    size: 30px;
}
#img1
{
margin-left: 770px;
margin-right: 770px;
}
#button
{
    margin-left: 900px;
    margin-right: 900px;
    margin-top: 90px;
    border-radius: 15px;
}
#result
{
    color: white;
    text-align: center;
    
}

